@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  :root  {
    --background: 175 100% 100%;
    --foreground: 175 5% 10%;
    --card: 175 50% 100%;
    --card-foreground: 175 5% 15%;
    --popover: 175 100% 100%;
    --popover-foreground: 175 100% 10%;
    --primary: 175 83.9% 31.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 137 30% 95%;
    --muted-foreground: 175 5% 40%;
    --accent: 137 30% 90%;
    --accent-foreground: 175 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 175 5% 100%;
    --border: 175 30% 82%;
    --input: 175 30% 50%;
    --ring: 175 83.9% 31.6%;
    --radius: 0.75rem;
  }
  .dark  {
    --background: 175 50% 10%;
    --foreground: 175 5% 100%;
    --card: 175 50% 10%;
    --card-foreground: 175 5% 100%;
    --popover: 175 50% 5%;
    --popover-foreground: 175 5% 100%;
    --primary: 175 83.9% 31.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 137 30% 25%;
    --muted-foreground: 175 5% 65%;
    --accent: 137 30% 25%;
    --accent-foreground: 175 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 175 5% 100%;
    --border: 175 30% 50%;
    --input: 175 30% 50%;
    --ring: 175 83.9% 31.6%;
    --radius: 0.75rem;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }

  .bb {
    @apply border-2 border-black;
  }

  body {
    @apply bg-background text-foreground;
  }
}