@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 175 22% 95%;
    --foreground: 175 5% 10%;
    --card: 175 22% 91%;
    --card-foreground: 175 5% 15%;
    --popover: 175 22% 95%;
    --popover-foreground: 175 95% 10%;
    --primary: 175 83.9% 31.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175 22% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 137 22% 91%;
    --muted-foreground: 175 5% 40%;
    --accent: 137 22% 90%;
    --accent-foreground: 175 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 175 5% 91%;
    --border: 175 22% 82%;
    --input: 175 22% 50%;
    --ring: 175 83.9% 31.6%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 175 22% 10%;
    --foreground: 175 5% 91%;
    --card: 175 22% 10%;
    --card-foreground: 175 5% 91%;
    --popover: 175 22% 5%;
    --popover-foreground: 175 5% 91%;
    --primary: 175 83.9% 31.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175 22% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 137 22% 25%;
    --muted-foreground: 175 5% 65%;
    --accent: 137 22% 25%;
    --accent-foreground: 175 5% 91%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 175 5% 91%;
    --border: 175 22% 50%;
    --input: 175 22% 50%;
    --ring: 175 83.9% 31.6%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  .bb {
    @apply border-2 border-black;
  }

  body {
    @apply bg-background text-foreground;
  }
}
